

<ion-content [fullscreen]="true" class="conteudo">
  

    <ion-row class="ion-justify-content-center line-icon">
      <ion-col size="4.6"></ion-col>
      <ion-col size="2.8"class="ion-justify-content-center" >
        <ion-icon class="icone-login text-right"  name="person-circle-outline"></ion-icon>
      </ion-col>
      <ion-col size="4.6"></ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center line-input">
      <ion-col size="9">
        <ion-input class="input-simple" placeholder="Email" >
          <ion-icon name="person-outline"></ion-icon>
        </ion-input>
        <ion-input class="input-simple" placeholder="Senha" >
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center line-btn">
      <ion-col size="6">
        
          <ion-button class="btn" (click)="logar()" expand="block" fill="clear" shape="round">
            Logar
          </ion-button>
        
      </ion-col>
    </ion-row>
  
</ion-content>
