
ion-content{
  --background: linear-gradient(#502480,#a65ac2);
}

.icone-login {
  font-size: 5rem;
  color: white;
}

.input-simple{
  color: white;
  min-height:10px;
  border-bottom: 1px solid whitesmoke;
  margin-top: 10px;
}
.btn{
  color: white; 
  width: 100%;
  background-color: #7c44b8;
  border-radius: 8px;
  box-shadow: -2px 3px #3a3737;
}

.line-icon{
  margin-top:8rem;
}
.line-input{
  margin-top: 2rem;
}
.line-btn{
  margin-top: 5rem;
}
